.HeaderContainer{
  background: #000;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 10px;
  height: 70px;
}

.RightHeader{
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.RightHeader > a{
  text-decoration: none;
  color: white;
}


.HomeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
  text-align: center;
}
.HomeBox{
  background-color: #efefef;
  box-shadow: 5px 10px #bbbbbb22;
  padding: 30px;
}



.GlobalContainer{
  width: 98vw;
  display: grid;
  row-gap: 20px;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
  /* justify-content: center; */
}

.GlobalBox{
  border: 1px solid;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
}

.CountriesBox {
  border: 1px solid;
  padding: 20px;
  /* display: flex; */
  text-align: center;
  background-color: #efefef;
}
/* .CountriesBox > h1{
  border-bottom: 1px solid;
} */

.CountryValues {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  
}
